doctype 5
html(ng:app)
  head
    title Bulagrian test
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/dico.js")
    script(src="/js/angular.min.js")
    script(src="/js/controller/Main.js")
  body
    block content
