.header {
    color: white;
    margin-bottom: 10px;
    background-color: black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert, textarea {
    min-height: 200px;
}

.toolbar {
    margin-bottom: 10px;
}

.reset {
    margin-left: 7px;
}

.stats {
    width: 110px;
    font-size: 9px;
    margin-left: 7px;
    text-align: right;
    position: absolute;
    display: inline-block;
}

.stats .col-md-4 {
    padding: 0;
}

.count {
    font-size: 25px;
    line-height: 23px;
}

@media (max-width: 768px) {

    h1 {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .navbar {
        margin-bottom: 10px;
    }

    .alert {
        padding: 10px;
        min-height: 0;
        margin-bottom: 10px;
    }

    textarea {
        min-height: 80px;
        margin-bottom: 10px;
    }

}
